[user]
	name = e-s-l
    email = e-sullivan-lester@proton.me

# DOS: \r (carriage return) \n (line feed), *NIX: just \n so:
# On Nix set autocrlf input
# On Windows set core.autocrlf true
# Hence:
[core]
    autocrlf =  input

[fetch]
    prune = true

[init]
    defaultBranch = main
    
