/*
 * Read man pages for rofi and rofi-theme
 * run rofi -dump-config
 */

configuration {
    display-drun: "applications";
    display-window: "windows";
    drun-display-format: "{icon} {name}";
    show-icons: true;
    icon-theme: "classic95";
    font: "Consolas Regular 10, IBMPlexMono Regular 10, Hack Regular 10";
    modi: [window,run,drun,ssh];
}

@theme "./theme.rasi"
