
### MISC ###

alias sync_time="sudo chronyc -a makestep"
alias ssh='ssh -X'

### COLOUR ###

alias ls='ls -a --color=auto'
#alias ls='ls -al --color=auto'
alias dir='dir --color=auto'
#alias vdir='vdir --color=auto'

alias grep='grep -i --color=auto'
# i for case insensitive

# i for interactive mode of copy (extra checks)
alias cp='cp -irv'
#alias cp='cp -nrv' 
# no-overwirte, recursive, verbose

# similiar proctection for move (b is for back up)
#alias mv='mv -ib'

#alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# Colour:
alias ip='ip -c'
alias minicom='minicom -con'
### CONTROL ###

alias restart='sudo shutdown -r now'

### LIST ###

alias lhrat="ls -lhrat --color=auto"

#alias ll='ls -l'
#alias la='ls -A'
#alias l='ls -CF'

### DMESG ###

alias dmesg='sudo dmesg -wH' 

### i3 ###
alias logout='i3-msg exit'
