!!
!! Affect changes:
!! xrdb ~/.Xresources
!!

! Special
URxvt.foreground: #D3D7CF
URxvt.background: [95]#1C1C1C
URxvt.cursorColor: #D3D7CF

! black
URxvt.color0: #2E3436
URxvt.color8: #555753

! red
URxvt.color1: #CC0000
URxvt.color9: #EF2929

! green
URxvt.color2: #5BA084
URxvt.color10: #8FD3B4

! yellow
URxvt.color3: #C4A000
URxvt.color11: #FCE94F

! blue
URxvt.color4: #3465A4
URxvt.color12: #729FCF

! magenta
URxvt.color5: #75507B
URxvt.color13: #AD7FA8

! cyan
URxvt.color6: #06989A
URxvt.color14: #34E2E2

! white
URxvt.color7: #D3D7CF
URxvt.color15: #EEEEEC

! Font

URxvt.font: \
 xft: Inconsolata Condensed Black:size=12:style=Regular:spacing=Mono:minspace=False:antialias=true, \
  xft: IBMPlexMono-Regular:size=12:spacing=Mono:minspace=False:antialias=true, \
    xft: Hack-Regular:size=12:spacing=Mono:minspace=False:antialias=true

!URxvt.lineSpace: 1
URxvt.letterSpace: 1

! Geometry
URxvt.geometry: 80x24
URxvt.internalBorder: 8

! Cursor behavior
URxvt.cursorBlink: true
URxvt.cursorUnderline: false

! Scrollback buffer
URxvt.saveline: 4096

! Transparency
!URxvt*transparent: true
URxvt*shading: 20

! Blur effect
URxvt*blurRadius: 3

! Disable scrollbar
URxvt.scrollBar: false
URxvt.scrollBar_right: false

! Urgency behavior
!URxvt.urgentOnBell: true

! Color depth
URxvt*depth: 32s
